.intro {
    margin-bottom: 104px;

    &__info {
        margin-bottom: 54px;
        display: flex;
        justify-content: space-between;

        &-name {
            width: 120px;
            font-family: Gilroy-Bold;
            font-size: 47px;
            line-height: 59px;
            letter-spacing: 0em;
        }

        &-do {
            width: 165px;
            font-family: 'Gilroy-Medium';
            font-size: 18px;
            line-height: 22px;
            color: #070707;
        }
    }

    &__language {
        width: 20px;
        display: flex;
        writing-mode: vertical-rl;
        transform: scale(-1);

        &-select {
            font-family: 'Gilroy-Bold';
            font-size: 16px;
            line-height: 20px;
            color: $gray;
            text-decoration: none;

            &:hover {
                color: $black;
            }
        }
    }

    &__images-men {
        width: 100%;
    }

    &__images-man {
        display: none;
    }
}

.about {
    height: 506px;
    background-color: $wild-sand;
    display: flex;
    justify-content: center;

    &__text {
        padding: 120px 0 107px 0;
        width: 485px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            font-family: 'Gilroy-Bold';
            font-size: 34px;
            line-height: 42px;
            color: $cod_gray;
        }

        &-subtitle {

            font-family: 'Gilroy-Medium';
            font-size: 18px;
            line-height: 22px;
            color: $cod_gray;
        }
    }
}

.skills {

    &__text {
        padding-bottom: 110.06px;
    }

    &__title {
        text-align: center;
        font-family: 'Gilroy-Bold';
        font-size: 34px;
        line-height: 42px;
        color: $cod_gray;
        padding: 91px 0 70px 0;
    }

    &__subtitle {
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $cod_gray;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        &-item {
            width: 166.46px;
            height: 206.27px;
        }
    }
}

.portfolio {
    min-height: 758px;
    background-color: $wild-sand;
}

.contact {
    width: 342px;
    align-items: center;

}

.contacts {
    text-align: center;

    &__form {


        &-title {
            font-family: 'Gilroy-Bold';
            font-size: 34px;
            padding: 114px 0 20px 0;
            line-height: 42px;
        }

        &-subtitle {
            font-family: 'Gilroy-Medium';
            font-size: 18px;
            line-height: 22px;
        }

        &-button {
            width: 180.5px;
            height: 42px;
            font-family: 'Gilroy-Bold';
            font-size: 18px;
            line-height: 22px;
            border-radius: 50px;
            margin: 30px 0 85px 0;
            padding: auto;
            color: $white;
            background-color: $cod_gray;

            &:hover {
                opacity: 0.5;
            }
        }

    }

    &__list {
        width: 342px;
        display: flex;
        justify-content: space-between;

        &-item {
            width: 40px;
            height: 40px;

            &:hover {
                opacity: 0.5;
            }
        }

        &-subtitle {
            margin: 46px 0 123px 0;
            font-family: 'Gilroy-Medium';
            font-size: 14px;
            line-height: 17px;
            color: $gray;
        }
    }
}

@media (max-width: 375px) {
    .intro {

        &__info {
            flex-direction: column;
        }

        &__language {
            display: none;
        }

        &__images-men {
            display: none;
        }

        &__images-man {
            width: 100%;
            display: block;

        }
    }

    .skills {

        &__list {
            flex-direction: column;
            align-items: center;

            &-item {
                margin-bottom: 80px;
            }
        }

    }

}